*.log
*.pyc
env
.vscode
**/__pycache__
**/.venv
Config/__pycache__
Routes/__pycache__
Schemas/__pycache__
Services/__pycache__
__pycache__
Config/.env
.env
venv
.idea
.scannerwork
.venv
.pytest_cache
pytest_cache